html {
    background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
ul, li, nav {
   
    text-decoration: none;
    list-style: none;
    display: inline;
    padding-left: 70px;
   padding-top: 5px;
 
}

 a{
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover {
    color: orange;
    text-decoration: underline;
    transition: 0.6s;
}

h1 {
    font-size: 78px;
    padding-top: 30vh;
    margin-left: 14rem;
    font-family: Tahoma;
}
.intro, .about {
    margin-top: -20px;
    margin-left: 14rem;
    font-size: 25px;
}

.learn-more {
    color: orange;
    margin-left: 14rem;
}
.learn-more:hover {
    color: darkorange;
    transition: 0.6s;
}
.contact {
    margin-left: 35rem;
}





/* about me section  */


#about-section > p {
    font-size: 25px;
    width: 75%;
    word-spacing: 2px;
    line-height: 3.4rem;
}

.my-work {
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: 500;
   
  
}
.my-work > div {
    display: inline-block;
}

.my-work:hover {
    color: white;
    font-style: none;
}

/* my work section */

#my-work {
  
    padding: 0;
    padding-bottom: 10px;
    margin-top: 7rem;
    background-color: rgba(243,240,240,0.3);
}

#my-work > h1 {
    padding: 0;
}


.work1 {
    border: 2px solid grey;
    border-radius: 10px;
padding: 20px;
    width: 25%;
    margin-left: 10rem;
}
.work1 > h5 {
    text-align: center;
}

img {
    padding-left: 35px;
    height: 350px;
}
.btn-view-1 {
  color: black;
  border: 1px solid white;
  padding: 5px;  
}
.btn-view-2 {
    color: black;
    border: 1px solid white;
    padding: 5px;  
    margin-left: 2rem;
  }
.work2 {
    border: 2px solid grey;
    border-radius: 10px;
padding: 20px;
    width: 25%;
    margin-left: 50rem;
    margin-top: -35rem;
}
.work2 > h5 {
    text-align: center;
}

.work2 > img {
    width: 330px;
    margin-left: -1rem;
}

/* more projects */
.more-projects {
    background-color: rgba(243,240,240,0.2);
    margin-top: 5rem;
    padding-bottom: 20px;
}

.more-projects > h3 {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    padding-bottom: 30px;
    
}
.more-projects > a {
    margin-left: 41.5rem;
    font-size: 25px;
    border: 1px solid white;

    padding: 10px;
}

.more-projects > a:hover {
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

/* contact me page */
.contact-me {
    background-color: rgba(112,112,112,0.9);
    padding-bottom: 50px;
    margin-top: 5rem;
}

.contact-me > h1{
  font-size: 45px;
    padding: 0;
    margin-left: 35rem;
    color: white;

}

.contact-me > a {
    color: white;
    margin-left: 40rem;
    font-size: 25px;
    border: 1px solid white;
    padding: 10px;

  
}