html {
    background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
ul, li, nav {
   
    text-decoration: none;
    list-style: none;
    display: inline;
    padding-left: 70px;
   padding-top: 5px;
 
}

 a{
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a:hover {
    color: orange;
    text-decoration: underline;
    transition: 0.6s;
}

h1 {
    font-size: 78px;
    padding-top: 30vh;
    margin-left: 14rem;
    font-family: Tahoma;
}
p {
    margin-top: -20px;
    margin-left: 14rem;
    font-size: 25px;
}

.learn-more {
    color: orange;
    margin-left: 14rem;
}
.learn-more:hover {
    color: darkorange;
    transition: 0.6s;
}
.contact {
    margin-left: 35rem;
}





/* about me section  */


#about-section > p {
    font-size: 25px;
    width: 75%;
    word-spacing: 2px;
    line-height: 3.4rem;
}

.my-work {
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.my-work:hover {
    color: white;
    font-style: none;
}

/* my work section */

#my-work {
  
    padding: 0;
    margin-top: 7rem;
    background-color: rgba(243,240,240,0.3);
}

#my-work > h1 {
    padding: 0;
}

