html {
    background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
a {
    cursor: pointer;
}
/* navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .close-btn {
      height: 50px;
      width: 50px;
  }
 

span {
    cursor: pointer;
    position: fixed;
    margin-top: -55px;
}
a:hover {
    
    text-decoration: underline;
    transition: 0.6s;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* intro section */

h1 {
    font-size: 78px;
    padding-top: 30vh;
    margin-left: 14rem;
    font-family: Tahoma;
}
.intro, .about {
    margin-top: -20px;
    margin-left: 14rem;
    font-size: 25px;
}

.learn-more {
    color: orange;
    margin-left: 14rem;
}
.learn-more:hover {
    color: darkorange;
    transition: 0.6s;
}
.contact {
    margin-left: 35rem;
}





/* about me section  */


#about-section > p {
    font-size: 25px;
    width: 75%;
    word-spacing: 2px;
    line-height: 3.4rem;
}

.my-work {
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: 500;
   
  
}
.my-work > div {
    display: inline-block;
}

.my-work:hover {
    color: white;
    font-style: none;
}

/* my work section */

#my-work {
  
    padding: 0;
    padding-bottom: 10px;
    margin-top: 7rem;
    background-color: rgba(243,240,240,0.3);
}

#my-work > h1 {
    padding: 0;
}


.work1 {
    border: 2px solid grey;
    border-radius: 10px;
padding: 20px;
    width: 25%;
    margin-left: 10rem;
}
.work1 > h5 {
    text-align: center;
}

img {
    padding-left: 35px;
    height: 350px;
}
.btn-view-1 {
  color: black;
  border: 1px solid white;
  padding: 5px;  
}
.btn-view-2 {
    color: black;
    border: 1px solid white;
    padding: 5px;  
    margin-left: 2rem;
  }
.work2 {
    border: 2px solid grey;
    border-radius: 10px;
padding: 20px;
    width: 25%;
    margin-left: 50rem;
    margin-top: -35rem;
}
.work2 > h5 {
    text-align: center;
}

.work2 > img {
    width: 330px;
    margin-left: -1rem;
}

/* more projects */
.more-projects {
    background-color: rgba(243,240,240,0.2);
    margin-top: 5rem;
    padding-bottom: 20px;
}

.more-projects > h3 {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    padding-bottom: 30px;
    
}
.more-projects > a {
    margin-left: 41.5rem;
    font-size: 25px;
    border: 1px solid white;

    padding: 10px;
}

.more-projects > a:hover {
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

/* contact me page */
.contact-me {
    background-color: rgba(112,112,112,0.9);
    padding-bottom: 50px;
    margin-top: 5rem;
}

.contact-me > h1{
  font-size: 45px;
    padding: 0;
    margin-left: 35rem;
    color: white;

}

.contact-me > a {
    color: white;
    margin-left: 40rem;
    font-size: 25px;
    border: 1px solid white;
    padding: 10px;

  
}


/* to top button */
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 65%;
    pointer-events: auto;
    transition: all .4s;

}
.to-top:hover {
    opacity: 85%;
}

.to-top > a:hover {
    color: black;
    text-decoration: none;
}

.to-top > a {
    margin-left: 7.9px;
    margin-top: 1rem;
    font-size: 56px;
}


.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}